.card {
    width: 300px;
    margin: 20px;
    img{
        width: 100%;
        height: auto;
    }
    .uk-card-body{
        position: relative;
        .icon{
            position: absolute;
            right: 5%;
            top: -15%;
            a{
                margin: 10px;
                color: rgb(27, 134, 206)
            }
        }
    }
    
}